
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.AssemblyInfo.cs
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.AssemblyInfoInputs.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.assets.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.csproj.AssemblyReference.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.GeneratedMSBuildEditorConfig.editorconfig
TFGVolandoVoy/obj/project.assets.json
TFGVolandoVoy/obj/project.nuget.cache
TFGVolandoVoy/obj/TFGVolandoVoy.csproj.nuget.dgspec.json
TFGVolandoVoy/obj/TFGVolandoVoy.csproj.nuget.g.props
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.AssemblyInfo.cs
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.AssemblyInfoInputs.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.assets.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.csproj.AssemblyReference.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.GeneratedMSBuildEditorConfig.editorconfig
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
TFGVolandoVoy/obj/project.assets.json
TFGVolandoVoy/obj/project.nuget.cache
TFGVolandoVoy/obj/TFGVolandoVoy.csproj.nuget.dgspec.json
TFGVolandoVoy/obj/TFGVolandoVoy.csproj.nuget.g.props
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.AssemblyInfo.cs
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.AssemblyInfoInputs.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.assets.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.csproj.AssemblyReference.cache
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/TFGVolandoVoy.GeneratedMSBuildEditorConfig.editorconfig
TFGVolandoVoy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
TFGVolandoVoy/obj/project.assets.json
TFGVolandoVoy/obj/project.nuget.cache
TFGVolandoVoy/obj/TFGVolandoVoy.csproj.nuget.dgspec.json
TFGVolandoVoy/obj/TFGVolandoVoy.csproj.nuget.g.props
