body {
    font-family: Arial, sans-serif;
    background-color: orange;
    text-align: center;
    padding: 50px;
}
#logo{
    width: 60%;
}
.contenedor {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border: 10px double red;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 6px rgba(0, 0, 0, 0.4);
}
h1 {
    color: #007BFF;
    text-decoration: underline;
}
p {
    font-size: 18px;
    font-weight: bold;
}
.boton {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.boton:hover {
    background-color: black;
}
